@import './variables.scss';

.draggable-handle {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  cursor: grab;

  .draggable-icon{
    width: 20px;
    height: 21px;
    line-height: 21px;
    margin-left: 46px;
    border-radius: 4px;
    text-align: center;
    color: #333;

    &:hover {
      background-color: #f4f4f4;
    }
  }

  .draggable-content {
    flex: 1;
    display: none;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 6px;
    margin-right: 72px;
    z-index: -1;

    >* {
      margin: 0;
    }
  }

  .draggable-highlight {
    display: block;
    background-color: rgba(222, 239, 253, 0.6);
  }
}

.el-tiptap-editor {
  $root: &;

  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  width: 100%;

  * {
    box-sizing: border-box;
  }

  .border-top-radius {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .border-bottom-radius {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  &__codemirror {
    display: flex;
    flex-grow: 1;
    font-size: 16px;
    line-height: 24px;
    overflow: scroll;

    .CodeMirror {
      flex-grow: 1;
      height: auto;
    }
  }

  &--fullscreen {
    border-radius: 0 !important;
    bottom: 0 !important;
    height: 100% !important;
    left: 0 !important;
    margin: 0 !important;
    position: fixed !important;
    right: 0 !important;
    top: 0 !important;
    width: 100% !important;
    z-index: 500;

    #{$root}__menu-bar,
    #{$root}__content,
    #{$root}__footer {
      border-radius: 0 !important;
    }
  }

  &--mobile {
    .ProseMirror {
      padding: 20px !important;
    }

    .draggable-handle {
      display: none !important;
    }

    &__preview {
      padding: 20px !important;
    }
  }

  &__menu-bar {
    background-color: $white-color;
    border: 1px solid $lighter-border-color;
    border-bottom: 0;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    position: relative;

    .menu-default-list {
      //width: calc(100% - 42px);
      display: inline-block;
      white-space: nowrap;
      box-sizing: border-box;
      overflow: hidden;
    }

    > span {
      display: inline-block;
    }

    .menu-more-list {
      position: absolute !important;
      top: unset !important;
      left: unset !important;
      right: 0;
      bottom: -36px;
      margin: -2px 0 0 !important;
      min-width: unset !important;
      max-width: 100%;
      background: white;
      padding: 2px;
      border-radius: 4px;
      border: 1px solid #ebeef5;
      box-sizing: border-box;
      overflow-x: auto;
      z-index: 1000;
    }

    &::before {
      bottom: 0;
      background-color: $lighter-border-color;
      content: '';
      height: 1px;
      left: 0;
      right: 0;
      position: absolute;
    }
  }

  &__menu-bubble {
    background-color: $white-color;
    border-radius: 4px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
    display: flex;
    opacity: 0;
    position: absolute;
    transform: translateX(-50%);
    transition: opacity .3s ease-in-out;
    visibility: hidden;
    z-index: 50;

    &--active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__zoom-tool {
    display: flex;
    height: 100%;
    user-select: none;

    button {
      width: 24px;
      height: 100%;
      border: none;
      background: none;
      outline: none;
      cursor: pointer;
      font-size: 12px;

      &:hover {
        background: #f2f2f2;
      }
    }

    .zoom-value {
      display: inline-block;
      width: 40px;
      line-height: 22px;
      margin-left: 4px;
      text-align: center;
      font-size: 12px;
      cursor: pointer;

      &:hover {
        background: #f2f2f2;
      }
    }
  }

  &__zoom-wrap {
    flex: 1;
    min-height: 300px;
    display: flex;
    justify-content: center;
    background-color: #f5f6f7;
    border: 1px solid $lighter-border-color;
    border-bottom: 0;
    border-top: 0;
    overflow: auto;
    box-sizing: border-box;
    position: relative;
  }

  &__zoom {
    position: absolute;
    top: 0;
    padding: 20px;
    box-sizing: content-box;
    //transition: width 0.3s ease 0s, left 0.3s ease 0s;
  }

  &__auto {
    background: white !important;

    .el-tiptap-editor__zoom {
      width: 100% !important;
      height: 100% !important;
      left: 0 !important;
      padding: 0 !important;
      border: none !important;
    }

    .el-tiptap-editor__content {
      border: none !important;
    }
  }

  &__preview {
    margin: 0 auto !important;
    border: none !important;
    box-shadow: none !important;
    width: 100% !important;
    padding: 48px 72px;

    .ProseMirror {
      padding: 0 !important;
    }
  }

  &__content {
    position: relative;
    width: 794px;
    min-height: 1123px;
    box-shadow: 0 0 2px $border-color;
    color: #1f2329;
    flex-grow: 1;
    overflow: visible;
    background-color: $white-color;
    box-sizing: border-box;
    font-size: 12pt;
    font-family: 'Chinese Quote', -apple-system, BlinkMacSystemFont, Helvetica Neue, Arial, Segoe UI, Roboto, PingFang SC, Microsoft Yahei, Hiragino Sans GB, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    text-align: left;
    transform-origin: 0 0;
    line-height: 1.5;

    >div:not(:first-child):last-child {
      height: 2px !important;
      background: #409eff !important;
    }

    .ProseMirror {
      min-height: 1123px;
      padding: 48px 72px;
      box-sizing: border-box;
      outline: 0;

      >* {
        position: relative;
      }
    }

    .find {
      background: rgba(255, 213, 0, 0.4);
    }

    .find-current {
      background: #f1b900;
    }

    .drag-icon {
      position: absolute;
      top: 0;
      left: -20px;
      width: 20px;
      height: 20px;
      color: #999;
      text-align: center;
      z-index: 10000;
    }

    .cursor-wrap {
      position: relative;
      display: inline;
      overflow: visible;
      cursor: pointer;

      .cursor {
        display: inline-block;
        position: absolute;
        top: -1px;
        left: -1px;
        width: 2px;
        height: calc(100% + 2px);

        &:after {
          content: '';
          position: absolute;
          top: -5px;
          left: -2px;
          width: 6px;
          height: 6px;
          background: inherit;
        }
      }

      .cursor-name {
        display: none;
        position: absolute;
        top: -21px;
        left: -1px;
        height: 21px;
        line-height: 21px;
        padding: 0 6px;
        border-radius: 2px 2px 2px 0;
        box-sizing: border-box;
        text-align: center;
        font-size: 12px;
        color: #fff;
        white-space: nowrap;
        user-select: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        z-index: 1;
      }

      &:hover {
        .cursor::after {
          background: unset;
        }
        .cursor-name {
          display: block;
        }
      }
    }

    .cursor-wrap.me {
      display: none !important;
    }

    .cursor-wrap.inactive {
      opacity: 0.5;
    }

    p {
      margin-top: 8px;
      margin-bottom: 0;
      outline: none;
    }

    >p:first-child {
      margin-top: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
      margin-top: 20px;
      margin-bottom: 20px;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    ul,
    ol {
      counter-reset: none;
      list-style-type: none;
      margin-bottom: 0;
      margin-left: 24px;
      margin-top: 0;
      padding-left: 0;

      &::before {
        left: -50px !important;
      }
    }

    li > p {

      &:first-child::before {
        content: counter(el-tiptap-counter) '.';
        display: inline-block;
        left: -5px;
        line-height: 1;
        margin-left: -24px;
        position: relative;
        text-align: right;
        top: 0;
        width: 24px;
      }
    }

    ul li > p {
      &:first-child::before {
        content: '\2022';
        text-align: center;
      }
    }

    ol {
      counter-reset: el-tiptap-counter;

      li > p:first-child::before {
        counter-increment: el-tiptap-counter;
      }
    }

    a {
      color: $primary-color;
      cursor: pointer;
    }

    blockquote {
      border-left: 5px solid #edf2fc;
      border-radius: 2px;
      color: $regular-text-color;
      margin: 10px 0;
      padding-left: 1em;
    }

    code {
      background-color: $lighter-primary-color;
      border-radius: 4px;
      color: $primary-color;
      display: inline-block;
      font-size: 14px;
      font-weight: 700;
      padding: 0 8px;
    }

    pre {
      background-color: #000;
      color: $lighter-primary-color;
      font-size: 16px;
      overflow-x: auto;
      padding: 14px 20px;
      margin: 10px 0;
      border-radius: 5px;

      code {
        background-color: transparent;
        border-radius: 0;
        color: inherit;
        display: block;
        font-family: 'Menlo,Monaco,Consolas,Courier,monospace';
        font-size: inherit;
        font-weight: normal;
        padding: 0;
      }
    }

    img {
      display: inline-block;
      float: none;
      margin: 12px 0;
      max-width: 100%;

      &[data-display=inline] {
        margin-left: 12px;
        margin-right: 12px;
      }

      &[data-display=block] {
        display: block;
      }

      &[data-display=left] {
        float: left;
        margin-left: 0;
        margin-right: 12px;
      }

      &[data-display=right] {
        float: right;
        margin-left: 12px;
        margin-right: 0;
      }
    }

    .image-view {
      $root: &;

      display: inline-block;
      float: none;
      line-height: 0;
      margin: 0;
      max-width: 100%;
      user-select: none;
      vertical-align: baseline;

      &--inline {
        margin-left: 0;
        margin-right: 0;
      }

      &--block {
        display: block;
      }

      &--left {
        float: left;
        margin-left: 0;
        margin-right: 12px;
      }

      &--right {
        float: right;
        margin-left: 12px;
        margin-right: 0;
      }

      &__body {
        clear: both;
        display: inline-block;
        max-width: 100%;
        outline-color: transparent;
        outline-style: solid;
        outline-width: 2px;
        transition: all .2s ease-in;
        position: relative;

        &:hover {
          outline-color: #ffc83d;
        }

        &--focused:hover,
        &--resizing:hover {
          outline-color: transparent;
        }

        &__placeholder {
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
          z-index: -1;
        }

        &__image {
          cursor: pointer;
          margin: 0;
        }
      }
    }

    .image-resizer {
      border: 1px solid $primary-color;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;

      &__handler {
        background-color: $primary-color;
        border: 1px solid $white-color;
        border-radius: 2px;
        box-sizing: border-box;
        display: block;
        height: 12px;
        position: absolute;
        width: 12px;
        z-index: 2;

        &--tl {
          cursor: nw-resize;
          left: -6px;
          top: -6px;
        }

        &--tr {
          cursor: ne-resize;
          right: -6px;
          top: -6px;
        }

        &--bl {
          bottom: -6px;
          cursor: sw-resize;
          left: -6px;
        }

        &--br {
          bottom: -6px;
          cursor: se-resize;
          right: -6px;
        }
      }
    }

    ul[data-type=todo_list] {
      margin-left: 0;

      &::before {
        left: 45px !important;
      }

      .todo-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 0;

        &[data-text-align=right] {
          justify-content: flex-end !important;
        }

        &[data-text-align=center] {
          justify-content: center !important;
        }

        &[data-text-align=justify] {
          justify-content: space-between !important;
        }

        .todo-content {
          padding-left: 5px;

          > p {
            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }

        &--done {
          > .todo-checkbox {
            color: $primary-color;
          }

          > .todo-content>p {
            color: $primary-color;
            text-decoration: line-through;
          }
        }
      }
    }

    hr {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    @for $i from 1 through 7 /* max-indent */ {
      $indent-margin-base: 30px;

      *[data-indent="#{$i}"] {
        margin-left: $indent-margin-base * $i !important;
      }
    }

    .tableWrapper {
      margin: 1em 0;
      width: 100%;
      overflow-x: auto;
    }

    table {
      border-collapse: collapse;
      table-layout: fixed;
      width: auto;
      margin: 0;

      p {
        margin-top: 6px;
        margin-bottom: 0;
      }
    }

    th,
    td {
      border: 1px solid $border-color;
      box-sizing: border-box;
      min-width: 2em;
      padding: 6px 8px;
      position: relative;
      vertical-align: top;

      >p:first-child {
        margin-top: 0;
      }

      &.selectedCell {
        background-color: $extra-light-primary-color;
      }
    }

    th {
      font-weight: 500;
      background: #f5f6f7;

      >p:first-child {
        margin-top: 0;
      }
    }

    .column-resize-handle {
      background-color: $light-primary-color;
      bottom: 0;
      pointer-events: none;
      position: absolute;
      right: -2px;
      top: 0;
      width: 4px;
      z-index: 20;
    }

    .iframe {
      height: 0;
      padding-bottom: 56.25%;
      position: relative;
      width: 100%;

      &__embed {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }

    .resize-cursor {
      cursor: ew-resize;
      cursor: col-resize;
    }
  }

  &__footer {
    height: 24px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    border: 1px solid $lighter-border-color;
    box-sizing: border-box;
    background-color: $white-color;
    font-family: sans-serif;
    font-size: 14px;
  }

  &__placeholder::before {
    color: $placeholder-text-color;
    content: attr(data-empty-text);
    float: left;
    height: 0;
    pointer-events: none;
  }

  &__with-title-placeholder::before {
    color: $placeholder-text-color;
    content: attr(data-empty-text);
    float: left;
    height: 0;
    pointer-events: none;
  }

  &__status {
    font-size: 12px;

    .width-mode {
      display: inline-block;
      margin-left: 20px;
      padding: 0 8px;
      cursor: pointer;

      &:hover {
        background: #f5f6f7;
      }
    }
  }
}
